{% extends 'base.html' %}

{% block title %}Control Pannel{% endblock %}

{% block content %}
<div class="row g-4">
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header bg-info text-white">
        <i class="bi bi-hdd-network"></i> Devices
      </div>
      <div class="card-body">
        <p>View and manage all IoT devices</p>
        <a href="{% url 'device-list' %}" class="btn btn-info">List devices</a>
        <a href="{% url 'device-create' %}" class="btn btn-outline-info">Create devices</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card h-100">
      <div class="card-header bg-warning text-dark">
        <i class="bi bi-list-check"></i> Rules
      </div>
      <div class="card-body">
        <p>View and configure automation rules</p>
		    {% comment %} TODO: Add Links {% endcomment %}
        <a href="" class="btn btn-warning">List rules</a>
        <a href="{% url 'rule-create' %}" class="btn btn-outline-warning">Create rules</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
