{% extends 'base.html' %}

{% block title %}Create device{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-header">
    <h4 class="mb-0">Select device type</h4>
  </div>
  <div class="card-body">
    <div class="d-grid gap-2">
      <a href="?type=sensor" class="btn btn-outline-primary btn-lg">
        <i class="bi bi-thermometer"></i> DummySensor
      </a>
      <a href="?type=clock" class="btn btn-outline-primary btn-lg">
        <i class="bi bi-clock"></i> DummyClock
      </a>
      <a href="?type=switch" class="btn btn-outline-primary btn-lg">
        <i class="bi bi-toggle-on"></i> DummySwitch
      </a>
    </div>
  </div>
  <div class="card-footer text-end">
    <a href="{% url 'index' %}" class="btn btn-link">Cancel</a>
  </div>
</div>
{% endblock %}