{# devices/device_list.html #}
{% extends 'base.html' %}

{% block title %}Devices list{% endblock %}

{% block content %}
<h3>Devices</h3>
<table class="table table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>Host</th>
      <th>Port</th>
      <th class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
      <tr>
        <td>{{ device.id }}</td>
        <td>{{ device.host }}</td>
        <td>{{ device.port }}</td>
        <td class="text-end">
			{% comment %} Add the link: {% url 'device_detail' device.id %} {% endcomment %}
          <a href="{% url 'device-detail' device.id %}" 
             class="btn btn-sm btn-outline-primary me-1">
            <i class="bi bi-gear"></i> Configuration
          </a>
          <form action="{% url 'device-delete' device.id %}" 
                method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" 
                    class="btn btn-sm btn-outline-danger"
                    onclick="return confirm('Delete {{ device.id }}?');">
              <i class="bi bi-trash"></i> Delete
            </button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="4" class="text-center">
			No devices registered
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="mt-3">
  <a href="{% url 'device-create' %}" class="btn btn-success">
    <i class="bi bi-plus-circle"></i> Create device
  </a>
  <a href="{% url 'index' %}" class="btn btn-info">
    <i class="bi bi-plus-circle"></i> Exit
  </a>
</div>
{% endblock %}
