{% extends 'base.html' %}

{% block title %}Rules list{% endblock %}

{% block content %}
  <h3>Rules</h3>
  <table class="table table-striped">
	<thead class="thead-light">
	  <tr>
		<th class="text-center">Name</th>
		<th class="text-center">Source device</th>
		<th class="text-center">Condition</th>
		<th class="text-center">Target device</th>
		<th class="text-center">Actions</th>
	  </tr>
	</thead>
	<tbody>
	  {% for rule in rules %}
		<tr>
		  <td class="text-center">{{ rule.name }}</td>
		  <td class="text-center">{{ rule.source_device.id }}</td>
		  <td class="text-center">
			{{ rule.source_device.variable_name }}
			{{ rule.operator }} {{ rule.threshold }}
		  </td>
		  <td class="text-center">{{ rule.target_device.id }}</td>
		  <td class="text-center">
			{% comment %} {% url 'rules:rule_detail' rule.pk %} {% endcomment %}
			<a href=""
			   class="btn btn-sm btn-outline-primary me-1">
			  <i class="bi bi-eye"></i> Configuration
			</a>
			<form action="{% url 'rule-delete' rule.pk %}"
				  method="post" class="d-inline">
			  {% csrf_token %}
			  <button type="submit"
					  class="btn btn-sm btn-outline-danger"
					  onclick="return confirm('Delete rule {{ rule.name }}?');">
				<i class="bi bi-trash"></i> Delete
			  </button>
			</form>
		  </td>
		</tr>
	  {% empty %}
		<tr>
		  <td colspan="4" class="text-center">No rules registered</td>
		</tr>
	  {% endfor %}
	</tbody>
  </table>
  <div class="mt-3">
	<a href="{% url 'rule-create' %}" class="btn btn-warning">
		<i class="bi bi-plus-circle"></i> New rule
	</a>
	<a href="{% url 'index' %}" class="btn btn-info">
		<i class="bi bi-plus-circle"></i> Exit
	</a>
  </div>
{% endblock %}
